$color-primary: #FF4038;
$color-secondary: #BF302A;

$color-grey-light: #BFBEBC;
$color-grey-medium: #7F7E7D;
$color-grey-dark: #403F3F;

$color-white: #FFF;
$color-black: #000;

$default-font-size: 2rem;
