.section-clients {
    background-color: $color-secondary;
    height: 95vh;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    margin-top: 10rem;
    border-radius: 3px;
    position: relative;
}

.section {

    &__clients {
        &--text-box {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            width: 35%;
            text-align: center;
        }
        &--header {
            font-size: 8rem;
            color: $color-white;
        }
        &--logo {
            position: relative;
            margin-bottom: 1rem;
        }
    }
}
