.footer {
    background-color: $color-black;
    height: 40vh;
    color: $color-grey-light;
    position: relative;

    &__text-box {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo {
        width: 50%;
        float: right;
    }

    &__text {
        margin-top: 5rem;
    }

}
