.section-news {
    background-color: $color-grey-light;
    height: 95vh;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-radius: 3px;
}

.section {

    &__img {
        width: 75%;
        position: absolute;
        left: 20%;
        margin-top: 10rem;
        animation: moveInBottom 5s ease-out;
    }

    &__text-box {
        width: 75%;
        margin: 10% auto;
    }
}
