.welcome {
    width: 60%;
    margin: 5rem auto;

    &__text--main {
        text-align: center;
    }

    &__text--sub {
        text-align: left;
    }
}

.slogan {
    text-align: left;
}

.company-photo {
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 3rem;
    border-radius: 3px;
}
