.team-img {
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color-black, .5);
    background-color: transparent;
    height: 25vh;
    width: 75%;
    margin-top: 10rem;
    position: relative;

    &:hover {
        transform: translateY(-1rem);
        cursor: pointer;
    }
}


.team-heading {
    position: absolute;
    // top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-image: linear-gradient(
    // to right,
    // rgba($color-primary, .7),
    // rgba($color-primary, .7));
    background-color: $color-primary;
    padding: 0 2rem;
    border-radius: 5rem;
    width: 70%;
    margin-top: 3rem;
}
